/*******************************************************************************
********************************************************************************
General Styling
*/

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
	padding-top: 20px;
}

a {
  color: #00B7FF;
}

/*******************************************************************************
********************************************************************************
Header Styling
*/
#header .nav 




/*******************************************************************************
********************************************************************************
Products Styling
*/



/*******************************************************************************
********************************************************************************
Footer Styling
*/
