/*******************************************************************************
********************************************************************************
General Styling
*/

body {
  padding-top: ;
  font: 15px 'Raleway', sans-serif;
}

a {
  color: #00B7FF;
}

.centeralign {
  text-align: center;
}

@media (min-width: 979px) {
    body {
        padding-top: 70px;
    }
}

.section-bg {
	background-color: #F5F9FA;
}

/*******************************************************************************
********************************************************************************
Header Styling
*/
header {
	font: 16px 'Quicksand', sans-serif;
}

.navbar-brand {
	font-family: 'Noto Serif SC', serif;
	font-size: 2em;
	font-weight: 900;
}

.navbar .container {
	text-align: center;
}

#searchicon {
	margin-left: 10px;
}

.navbar {
	background-image: none;
	background-color: white !important;
}

.navbar-scrolled button,
.navbar-scrolled div,
.navbar-scrolled a {
	color: white !important;
	border-color: white !important;
}

.navbar-scrolled {
	opacity: 0.98;
	background-color: #353535 !important;
}

.navbar a {
	position: relative;
	display: inline-block;
	outline: none;
	color: black;
	text-decoration: none;
	letter-spacing: 1px;
	margin: 0 5px;
}

/* Source for hovering effects:
https://tympanus.net/codrops/2013/08/06/creative-link-effects/
Effect style 3 */
.navbar a::after {
	position: absolute;
	top: 90%;
	left: 0;
	width: 100%;
	height: 3px;
	background: rgba(0, 0, 0, 0.5);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}
.navbar a:hover::after,
.navbar a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

/*******************************************************************************
********************************************************************************
Index Page Styling
*/

#carousel {
	width: 100%;
	margin: 0px;
}

#carousel img {
	width: 100%;
	object-fit: cover;
	height: 400px !important;
}

#shop-all {
	padding: 30px 0 30px 0;
	text-align: center;
}

#contact {
  padding: 20px 0;
  text-align: center;
}

#contact a {
	outline: none;
	text-decoration: none;
}

.contact-description {
	margin: 10px 20% 30px 20%;
}

#contact .contact-info {
	margin-top: 10px;
}

#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #112363;
}

#contact .contact-info a {
  color: #4869df;
}

#contact .contact-info a:hover {
  color: #f82249;
}

#contact .contact-fax,
#contact .contact-phone,
#contact .contact-email {
  margin-bottom: 20px;
}

.contact-form {
	text-align: center;
	margin: 20px 40px 20px 100px;
}

/*******************************************************************************
********************************************************************************
Products Styling
*/

/*******************************************************************************
********************************************************************************
Footer Styling
*/
