<% include partials/header %>
<script src="javascripts/index.js"></script>
<section>
<div id="coupon-popup" class="popup">
  <!-- Modal content -->
  <div class="coupon-content">
    <button class="btn coupon-close float-right"><i class="fas fa-window-close"></i></button>
    <img src="/images/coupons/coupon.png">
  </div>
</div>
</section>
<section id="carousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carousel" data-slide-to="0" class="active"></li>
		<li data-target="#carousel" data-slide-to="1"></li>
		<li data-target="#carousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="/images/coupons/new-year.jpeg" class="d-block w-100" alt="New Year Sales">
			<div class="carousel-caption d-none d-md-block">
			</div>
		</div>
		<div class="carousel-item">
			<img src="/images/coupons/christmas.gif" class="d-block w-100" alt="Christmas Sales">
			<div class="carousel-caption d-none d-md-block">
			</div>
		</div>
		<div class="carousel-item">
			<img src="/images/coupons/valentines.jpg" class="d-block w-100" alt="Valentine's Day Sales">
			<div class="carousel-caption d-none d-md-block">
			</div>
		</div>
	</div>
	<a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
</section>

<!--==========================
Product Categories Section
============================-->
<section id="product-categories">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-3 col-md-4 col-xs-12">
				<div class="category-item">
					<img src="images/categories/all.png"/>
					<div class="category-item-mask">
	          <a class="shop-button" href="/products" role="button">Shop All</a>
	        </div>
        </div>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-12 centeralign">
				<div class="category-item">
					<img src="images/categories/noodles.jpg"/>
					<div class="category-item-mask">
	          <a class="shop-button" href="/products/category/noodles" role="button">Shop Noodles</a>
	        </div>
        </div>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-12">
				<div class="category-item">
					<img src="images/categories/frozen.jpg"/>
					<div class="category-item-mask">
	          <a class="shop-button" href="/products/category/frozen" role="button">Shop Frozen Food</a>
	        </div>
        </div>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-12">
				<div class="category-item">
					<img src="images/categories/snacks.jpeg"/>
					<div class="category-item-mask">
	          <a class="shop-button" href="/products/category/snacks" role="button">Shop Snacks</a>
	        </div>
        </div>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-12">
				<div class="category-item">
					<img src="images/categories/drinks.jpg"/>
					<div class="category-item-mask">
	          <a class="shop-button" href="/products/category/drinks" role="button">Shop Drinks</a>
	        </div>
        </div>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-12">
				<div class="category-item">
					<img src="images/categories/health.jpg"/>
					<div class="category-item-mask">
	          <a class="shop-button" href="/products/category/health" role="button">Shop Health Products</a>
	        </div>
        </div>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-12">
				<div class="category-item">
					<img src="images/categories/spices.jpg"/>
					<div class="category-item-mask">
	          <a class="shop-button" href="/products/category/spices" role="button">Shop Spices</a>
	        </div>
        </div>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-12">
				<div class="category-item">
					<img src="images/categories/vegetables.jpg"/>
					<div class="category-item-mask">
	          <a class="shop-button" href="/products/category/vegetables" role="button">Shop Vegetables</a>
	        </div>
        </div>
			</div>
		</div>
	</div>
</section>

<br> 
<!--==========================
Opening hours Section
============================-->
<section id="hours">
	<div class="container">
		<h2 class="hours-title">Opening Hours</h2>
		<p class="centeralign store-description"> 京华 provides a variety of Asian snacks, Chinese cooking ingredients, popular drinks, and more. We are open from <em>8 am - 6 pm </em> Monday - Saturday, closed on national holidays.</p>
		<div class="hours-wrapper">
			<ul class="list-unstyled hours">
				<li>Sunday <span class="float-right">Closed</span></li>
				<li>Monday <span class="float-right">10:00-22:00</span></li>
				<li>Tuesday <span class="float-right">10:00-22:00</span></li>
				<li>Wednesday <span class="float-right">10:00-22:00</span></li>
				<li>Thursday <span class="float-right">10:00-22:00</span></li>
				<li>Friday <span class="float-right">10:00-23:30</span></li>
				<li>Saturday <span class="float-right">10:00-23:30</span></li>
			</ul>
		</div>
	</div>
</section>

<!--==========================
Contact Section
============================-->
<section id="contact" class="section-bg">
	<div class="container">
		<br>	
		<div class="row contact-info">
			<div class="col-md-4">
				<div class="contact-phone">
					<h3>Phone Number</h3>
					<p><a href="tel:+13478204920">+45 33 79 20 88</a></p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="contact-email">
					<h3>Email</h3>
					<p><a href="mailto:tramnguyen041@gmail.com">xinlamian2008@live.cn</a></p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="contact-fax">
					<h3>Fax</h3>
					<p><a>Need asking</a></p>
				</div>
			</div>
		</div>
	</div>

	<div class ="row contact-form">
		<div class="col-md-6">
			<p> Please fill out the form below to submit any suggestion or query to us. </p>
			
			
			<!-- Name -->
			<input type="text" id="name" name="name" class="form-control mb-4" placeholder="Name" required="required">
			<!-- Email -->
			<input type="email" id="email" name="email" class="form-control mb-4" placeholder="E-mail" required="required">
			<!-- Email Subject -->
			<input type="text" id="subject" name="subject" class="form-control mb-4" placeholder="Subject" required="required">
			<!-- Message -->
			<div class="form-group">
				<textarea class="form-control rounded-0" name="message" id="message" rows="3" placeholder="Message" required="required"></textarea>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		</div>
		<div class="col-md-6">
			<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2249.978708083852!2d12.561273915800726!3d55.671970405691006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sReverdilsgade+4%2C+kl.+sal.+tv+1701+K%C3%B8benhavn+V!5e0!3m2!1sen!2suk!4v1555973248597!5m2!1sen!2suk" width="400" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</section><!-- #contact -->


<% include partials/footer %>