<% include partials/header %>
<section id="carousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carousel" data-slide-to="0" class="active"></li>
		<li data-target="#carousel" data-slide-to="1"></li>
		<li data-target="#carousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="/images/coupons/new-year.jpeg" class="d-block w-100" alt="New Year Sales">
			<div class="carousel-caption d-none d-md-block">
			</div>
		</div>
		<div class="carousel-item">
			<img src="/images/coupons/christmas.gif" class="d-block w-100" alt="Christmas Sales">
			<div class="carousel-caption d-none d-md-block">
			</div>
		</div>
		<div class="carousel-item">
			<img src="/images/coupons/valentines.jpg" class="d-block w-100" alt="Valentine's Day Sales">
			<div class="carousel-caption d-none d-md-block">
			</div>
		</div>
	</div>
	<a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
</section>

<section id="product-categories">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-3 col-md-4 col-xs-12">
				<div class="category-item">
					Shop All
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-12 centeralign">
				<div class="category-item">
					<img src="images/categories/noodles.jpg"/>
					<div class="category-item-mask">
	          <a class="shop-button" href="/products" role="button">Shop Noodles</a>
	        </div>
        </div>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-12">
				<div class="category-item">
					<img src="images/categories/frozen.jpg"/>
					<div class="category-item-mask">
	          <a class="shop-button" href="/products" role="button">Shop Frozen Food</a>
	        </div>
        </div>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-12">
				<div class="category-item">
					<img src="images/categories/snacks.jpeg"/>
					<div class="category-item-mask">
	          <a class="shop-button" href="/products" role="button">Shop Snacks</a>
	        </div>
        </div>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-12">
				<div class="category-item">
					<img src="images/categories/drinks.jpg"/>
					<div class="category-item-mask">
	          <a class="shop-button" href="/products" role="button">Shop Drinks</a>
	        </div>
        </div>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-12">
				<div class="category-item">
					<img src="images/categories/health.jpg"/>
					<div class="category-item-mask">
	          <a class="shop-button" href="/products" role="button">Shop Health Products</a>
	        </div>
        </div>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-12">
				<div class="category-item">
					<img src="images/categories/spices.jpg"/>
					<div class="category-item-mask">
	          <a class="shop-button" href="/products" role="button">Shop Spices</a>
	        </div>
        </div>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-12">
				<div class="category-item">
					<img src="images/categories/vegetables.jpg"/>
					<div class="category-item-mask">
	          <a class="shop-button" href="/products" role="button">Shop Vegetables</a>
	        </div>
        </div>
			</div>
		</div>
	</div>
</section>

<section id="opening-hours">
	<div class="container">
		<p class="centeralign store-description"> 京华 provides a variety of Asian snacks, Chinese cooking ingredients, popular drinks, and more. We are open from <em>8 am - 6 pm </em> Monday - Saturday, closed on national holidays.</p>
	</div>
</section>

<!--==========================
Contact Section
============================-->
<section id="contact" class="section-bg wow fadeInUp">
	<div class="container">
		<!-- <a href="#contact" id = "contact-header"><h2>Contact Us</h2></a> -->
		<br>	
		<div class="row contact-info">
			<div class="col-md-4">
				<div class="contact-phone">
					<h3>Phone Number</h3>
					<p><a href="tel:+13478204920">+1 347 820 4920</a></p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="contact-email">
					<h3>Email</h3>
					<p><a href="mailto:tramnguyen041@gmail.com">tramnguyen041@gmail.com</a></p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="contact-fax">
					<h3>Fax</h3>
					<p><a>+44-208-1234567</a></p>
				</div>
			</div>
		</div>
	</div>

	<div class ="row contact-form">
		<div class="col-md-6">
			<p> Please fill out the form below to submit any suggestion or query to us. </p>
			<form action="/contact" id="contact-form" method="post" role="form">
			<!-- Name -->
			<input type="text" id="name" name="name" class="form-control mb-4" placeholder="Name" required="required">
			<!-- Email -->
			<input type="email" id="email" name="email" class="form-control mb-4" placeholder="E-mail" required="required">
			<!-- Email Subject -->
			<input type="text" id="subject" name="subject" class="form-control mb-4" placeholder="Subject" required="required">
			<!-- Message -->
			<div class="form-group">
				<textarea class="form-control rounded-0" name="message" id="message" rows="3" placeholder="Message" required="required"></textarea>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		</div>
		<div class="col-md-6">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.982113310246!2d-2.629031984937762!3d51.476842620759044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48718d8dcae66b53%3A0x25f71a67755f5093!2sChurchill+Hall!5e0!3m2!1sen!2suk!4v1551027742961" width="400" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</section><!-- #contact -->


<% include partials/footer %>