<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Welcome to <%= imgUrl %></p>
    <img src="~/Documents/UniversityOfBristol/WebTech/webTechProject/site/views/beeframen.jpeg" height = "40" width="40">
  </body>
</html>