<% include partials/header %>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/javascripts/products.js"></script>

<section class="section-bg">
<p><%= products[0]['name'] %></p>

<div class="wrap">
  <div class="menu">
    <div class="mini-menu">
      <ul>
        <li class="sub">
          <a href="#">WOMAN</a>
          <ul>
           <li><a href="#">Jackets</a></li>
           <li><a href="#">Blazers</a></li>
           <li><a href="#">Suits</a></li>
           <li><a href="#">Trousers</a></li>
           <li><a href="#">Jenas</a></li>
           <li><a href="#">Shirts</a></li> 
         </ul>
       </li>
       <li class="sub">
        <a href="#">MAN</a>
        <ul>
         <li><a href="#">Jackets</a></li>
         <li><a href="#">Blazers</a></li>
         <li><a href="#">Suits</a></li>
         <li><a href="#">Trousers</a></li>
         <li><a href="#">Jenas</a></li>
         <li><a href="#">Shirts</a></li> 
       </ul>
     </li>
     <li class="sub">
      <a href="#">KIDS</a>
      <ul>
        <li><a href="#">Jackets</a></li>
        <li><a href="#">Blazers</a></li>
        <li><a href="#">Suits</a></li>
        <li><a href="#">Trousers</a></li>
        <li><a href="#">Jenas</a></li>
        <li><a href="#">Shirts</a></li> 
      </ul>
    </li>
    <li class="sub">
      <a href="#">Shoes&Bags</a>
      <ul>
        <li><a href="#">Jackets</a></li>
        <li><a href="#">Blazers</a></li>
        <li><a href="#">Suits</a></li>
        <li><a href="#">Trousers</a></li>
        <li><a href="#">Jenas</a></li>
        <li><a href="#">Shirts</a></li> 
      </ul>
    </li>
  </ul>
</div>
<div class="menu-colors menu-item">
  <div class="header-item" >Colors</div>
  <ul class="color-row1">
    <li class="color-circle" style="background:#4286f4"></li>
    <li class="color-circle" style="background:#2acc4b"></li>
    <li class="color-circle" style="background:#343534"></li>
    <li class="color-circle" style="background:#5f605f"></li>
    <li class="color-circle" style="background:#929392"></li>
  </ul>
  <ul class="color-row2">
    <li class="color-circle" style="background:#9e8045"></li>
    <li class="color-circle" style="background:#d3d3d3"></li>
    <li class="color-circle" style="background:#6b6666"></li>
    <li class="color-circle" style="background:#999797"></li>
    <li class="color-circle" style="background:#923476"></li>
  </ul>
</div>
<div class="menu-size menu-item">
  <div class="header-item" >Size</div>
  <ul class="color-row1">
    <li class="color-circle size-circle" ><p class="sizedouble">XS</p></li>
    <li class="color-circle size-circle" style="background-color:#343534" ><p style="color:#999" class="size">S</p></li>
    <li class="color-circle size-circle" ><p class="size">M</p></li>
    <li class="color-circle size-circle" ><p class="size">L</p></li>
    <li class="color-circle size-circle" ><p class="sizedouble">XL</p></li>
  </ul>
</div>
<div class="menu-price menu-item">
  <div class="header-item" >Price</div>
  <p>
    <!--<label for="amount">Price range:</label>-->
    <input type="text" readonly id="amount"  style="border:0; color:#f6931f; font-weight:bold;">
  </p>
  <div id="slider-range"></div>
</div>

</div>

<div class="items">
  <div class="items">
    <div data-price="290" class="item">
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSS8oEITt9vJtsCPRH0mvi2pRf8YZfN6YnkASdjsibLyayVVlidSUwG64QIWw" alt="jacket" class="img-item"></img>
      <div class="info">
        <h3>Our Legacy Splash Jacquard Knit</h3>
        <p class="description">Black Grey Plants</p>
        <h5>$290</h5>
      </div>
    </div>
    <div data-price="900" class="item">
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSS8oEITt9vJtsCPRH0mvi2pRf8YZfN6YnkASdjsibLyayVVlidSUwG64QIWw" alt="jacket" class="img-item" ></img>
      <div class="info">
        <h3>Our Legacy Splash Jacquard Knit</h3>
        <p class="description">Black Grey Plants</p>
        <h5>$900</h5>
      </div>
    </div>
    <div data-price="600" class="item">
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSS8oEITt9vJtsCPRH0mvi2pRf8YZfN6YnkASdjsibLyayVVlidSUwG64QIWw" alt="jacket" class="img-item"></img>
      <div class="info">
        <h3>Our Legacy Splash Jacquard Knit</h3>
        <p class="description">Black Grey Plants</p>
        <h5>$600</h5>
      </div>
    </div>
    <div data-price="457" class="item">
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSS8oEITt9vJtsCPRH0mvi2pRf8YZfN6YnkASdjsibLyayVVlidSUwG64QIWw" alt="jacket" class="img-item"></img>
      <div class="info">
        <h3>Our Legacy Splash Jacquard Knit</h3>
        <p class="description">Black Grey Plants</p>
        <h5>$457</h5>
      </div>
    </div>
    <div data-price="674" class="item">
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSS8oEITt9vJtsCPRH0mvi2pRf8YZfN6YnkASdjsibLyayVVlidSUwG64QIWw" alt="jacket" class="img-item"></img>
      <div class="info">
        <h3>Our Legacy Splash Jacquard Knit</h3>
        <p class="description">Black Grey Plants</p>
        <h5>$647</h5>
      </div>
    </div>
    <div data-price="315" class="item">
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSS8oEITt9vJtsCPRH0mvi2pRf8YZfN6YnkASdjsibLyayVVlidSUwG64QIWw" alt="jacket" class="img-item"></img>
      <div class="info">
        <h3>Our Legacy Splash Jacquard Knit</h3>
        <p class="description">Black Grey Plants</p>
        <h5>$315</h5>
      </div>
    </div>
    <div data-price="987" class="item">
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSS8oEITt9vJtsCPRH0mvi2pRf8YZfN6YnkASdjsibLyayVVlidSUwG64QIWw" alt="jacket" class="img-item"></img>
      <div class="info">
        <h3>Our Legacy Splash Jacquard Knit</h3>
        <p class="description">Black Grey Plants</p>
        <h5>$987</h5>
      </div>
    </div>
    <div data-price="777" class="item">
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSS8oEITt9vJtsCPRH0mvi2pRf8YZfN6YnkASdjsibLyayVVlidSUwG64QIWw" alt="jacket" class="img-item"></img>
      <div class="info">
        <h3>Our Legacy Splash Jacquard Knit</h3>
        <p class="description">Black Grey Plants</p>
        <h5>$777</h5>
      </div>
    </div>
    <div data-price="504" class="item">
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSS8oEITt9vJtsCPRH0mvi2pRf8YZfN6YnkASdjsibLyayVVlidSUwG64QIWw" alt="jacket" class="img-item"></img>
      <div class="info">
        <h3>Our Legacy Splash Jacquard Knit</h3>
        <p class="description">Black Grey Plants</p>
        <h5>$504</h5>
      </div>
    </div>
  </div>
  <button class="loadmore">Load More</button>
</div>
</section>
<% include partials/footer %>