<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
lang="en-GB" xml:lang="en-GB">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Jinghua Shop</title>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC|Quicksand|Raleway|Nunito" rel="stylesheet">

	<!-- Bootstrap, Fontawesome and JQuery CDN include  -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/javascripts/header.js"></script>

  <!-- Products Page UI Styling -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css"> 
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 

  <!-- Stylesheet include  -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/products-style.css'/>
  <link rel='stylesheet' href='/stylesheets/admin-style.css'/>
  <link rel='stylesheet' href='/stylesheets/login-style.css'/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>
	<header id="header">
		<!-- Navigation bar  -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
			<div class="container">
				<div class="navbar-brand menu-active" href="/index">京华</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="/products">Products</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="/index#contact">Contact</a>
						</li>
						<!-- @TODO: Later change this to be only visible to admin. -->
						<li class="nav-item active">
							<a class="nav-link" href="/admin">Admin</a>
						</li>
					</ul>
					<form class="form-inline my-2 my-lg-0" action="/products/search" id="product-edit-form" method="post" role="form">
						<input id="searchbar" class="form-control mr-sm-2" type="search" placeholder="Product Name" name="name" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>


			<div class="dropdown">
					<button class="dropbtn"><li class="w3-large"><i class="material-icons w3-large">person</i></li></button>

			  <div class="dropdown-content">
					<a href="#"  data-toggle="modal" data-target="#modalLogin">Login</a>
					<a href="#"  data-toggle="modal" data-target="#modalRegister">Register</a>
			  </div>
			  
			</div>
				</div>
			</div>
		</nav>
	</header> <!-- #header -->

	<main>
	<% if (typeof errorMessage == 'object' && errorMessage) { %>
	  <div class="error-message">
	    <div><%= errorMessage %></div> <!-- Invalid email or password! -->
	  </div>
	<% } %>
	<div class="modal fade" id="modalRegister" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">+</button>
					<h3 class="modal-title">Account Registration</h3>
				</div>
				<div class="modal-body">
					<form action="/signup" method="post"> 
						<input type="text" name="username" placeholder="Username" required>
						<input type="password" name="password" placeholder="Password" required>
						<input type="password" name="confirm_pass" placeholder="Confirm password" required>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
				<div class="modal-footer">
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modalLogin" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">+</button>
					<h3 class="modal-title">User Login</h3>
				</div>
				<div class="modal-body">
					<form action="/login" method="post"> 
						<input type="text" name="username" placeholder="Username" required>
						<input type="password" name="password" placeholder="Password" required>
						<button type="submit" class="btn btn-primary" >Login</button>
					</form>
				</div>
				<div class="modal-footer">
					<button class="button-signup" type="submit" id="signup">OR create an account here</button>
				</div>
			</div>
		</div>
	</div>
	



	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="javascripts/login.js"></script>